.dialog {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 412px;
  max-width: 100%;
  padding: 0 16px 16px;
  color: #565656;
  font-size: 13px;
  line-height: 1.38;
  box-sizing: border-box;
}

.dialog__inner {
  position: relative;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
}

.dialog h3 {
  margin: 0 0 6px;
  color: #144733;
  font-size: 20px;
  font-weight: normal;
}

.dialog p {
  margin: 0 0 16px;
}

.dialog button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: inherit;
  padding: 5px 20px;
  margin: 0 6px 0 0;
  background: transparent;
}

.dialog .btn {
  background: #144733;
  color: #FFF;
  border-radius: 2px;
}

.dialog .close {
  padding-left: 10px;
  padding-right: 10px;
}